<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Pastiche - Jumble</title>
</head>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/scripts.js"></script>
<body>
    <form action="/check" id="form" method="post" onsubmit="handleFormSubmit(this);">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="jumble-header text-center mb-3">
                        <img src="static/pastiche-logo.png" alt="Pastiche Jumble" style="width: 100%; height: 150px">
                        <div class="date">{{ value_date }}</div>
                    </div>
                    <div class="puzzle-container">
                        <p>Unscramble these Jumbles, one letter to each square, to form ordinary words.</p>
                        <div class="jumble-words">
                            {% for jumble in jumbles %}
                            <div class="{{ 'text-right' if loop.index is odd else 'text-left' }} jumble-group">
                                <div>{{ jumble.jumbled }}</div>
                                <div> 
                                    {% for letter in jumble.jumbled %}
                                    <input type="text" name="jumble_letters" class="{{ 'input-letter' if loop.index0 not in jumble.clue_indices else 'input-letter-cue' }}" maxlength="1" oninput="handleInput(this, '{{jumble.jumbled}}')" autocomplete="off" />
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">                    
                    <p>Now arrange the circled letters to form the surprise answer, as suggested by the cartoon.</p>
                    <div class="cartoon-placeholder">
                        <img src="{{ image_url }}" class="img-fluid">
                    </div>
                    <div class="cartoon-caption mt-4">
                        '{{ clue_sentence }}'
                    </div>
                    <hr class="solid">
                        <div class="answer-boxes text-center">                            
                            <div class="jumble-group">
                                Available letters:
                                <div class="available-letters"></div>
                            </div>
                            {% for letter in sanitized_solution %}
                                {% if letter == "*" %}
                                    <input type="text" name="solution_letters" class="input-letter-solution" maxlength="1" oninput="handleInput(this)"/>
                                {% else %}
                                    <input name="fill_letters" class="filled-letter" maxlength="1" value = "{{ letter }}" disabled/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <input type="hidden" name="value_date" value="{{ value_date }}">
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-secondary">Check my answers</button>
                    </div>
                    <div class="text-center mt-3">
                        <div type="results" id="results"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
